*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #A91B1B;
    color: white;
    padding-inline: 16px;
    padding-block: 8px;
}

header .studioflix{
    display: flex;
    align-items: center;
    gap: 8px;
}

header img{
    width: 64px;
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
}

ul .link-hover .login{
    border: 3px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 4px;
    text-align: center;
    max-width: 200px;
    padding: 6px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.8s ease;
}

ul .link-hover .login:hover{
    background-color: white;
    color: #D51A1A;
} 

.nav{
    max-width: 1280px;
    height: auto;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4rem;
    align-items: center;
}

.logo img{
    max-width: 80px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}

.hamburguer::before, .hamburguer::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 4rem;
}

.filme{
    max-width: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.filme img.banner{
    width: 900px;
    height: 450px;
    border-radius: 4px;
    object-fit: cover;
}

.filme img.poster{
    display: none;
}

.filme .descricao-filme{
    display: flex;
    max-width: 900px;
    flex-direction: column;
}

.filme h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
}

.filme .genero{
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.filme p{
    font-family: "Montserrat", sans-serif;
}

form{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form input{
    border: 2px solid #A91B1B;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 120px;
}   

form button{
    background-color:#D51A1A;
    border: none;
    border-radius: 4px;
    padding: 6px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.8s ease;
    width: 200px;
}

button:hover{
    background-color: #A91B1B;
}

.lista-comentarios {
    width: 100%;
    max-width: 900px;  
    margin: 10px auto;     
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-comentario {
    background-color: #f0f0f0;
    border-left: 4px solid #A91B1B;
    padding: 1rem;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    color: #111;
}

.card-comentario p {
    margin-bottom: 8px;
    font-size: 14px;
}

.card-comentario small {
    color: #555;
    font-size: 12px;
}

.card-comentario button {
    background-color: #D51A1A;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease;
}

.card-comentario button:hover {
    background-color: #A91B1B;
}

footer{
    background-color: #620606;
    color: white;
}

.container-footer{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 8rem;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footer-info h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    color: white; 
}

.footer-info p{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
}

footer .comece-agora{
    border: 3px solid #D51A1A;
    border-radius: 4px;
    margin-top: 12px;
    width: 40%;
    padding: 10px 12px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.8s ease;
}   

footer .comece-agora:hover{
    background-color: #D51A1A;
}

.footer-bottom{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
    font-size: 14px;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px){
    .hamburguer{
        display: block;
        z-index: 99;
    }

    .nav{
        padding: 0;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 98;
        width: 100vw;
        height: 100vh;
        background-color: #A91B1B;
        clip-path: circle(0 at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;
    } 

    .nav-active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav-active .nav-list a{
        opacity: 1;
    }

    .nav-active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav-active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav-active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    header img{
    width: 52px;
    }

    header h1{
        font-size: 36px;
    }

    .filme img.banner{
        display: none;
    }

    .filme img.poster{
        width: 350px;
        height: 450px;
        object-fit: cover;
        display: block;
    }

    .filme h2{
    font-size: 36px;
    }

    .filme .genero{
    font-size: 22px;
    }

    form{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    }

    .container-footer{
    padding: 2rem 1.5rem;
    }

    .footer-info h1{
    font-size: 38px;
    }

    .footer-info p{
    width: 400px;
    }
    .lista-comentarios {   
        grid-template-columns: 1fr;
    }

}