*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #A91B1B;
    color: white;
    padding-inline: 16px;
    padding-block: 8px;
}

header .studioflix{
    display: flex;
    align-items: center;
    gap: 8px;
}

header img{
    width: 64px;
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
}

ul .link-hover .login{
    border: 3px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 4px;
    text-align: center;
    max-width: 200px;
    padding: 6px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.8s ease;
}

ul .link-hover .login:hover{
    background-color: white;
    color: #D51A1A;
} 

.nav{
    max-width: 1280px;
    height: auto;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4rem;
    align-items: center;
}

.logo img{
    max-width: 80px;
}

.nav-list{
    display: flex;
    align-items: center;
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}

.hamburguer::before, .hamburguer::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 5rem;
}

main h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
}

.filmes-row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.filme{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 300px;
}

.filme img{
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.7s ease;
}

.filme h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}

.filme button{
    background-color:#D51A1A;
    border: none;
    border-radius: 4px;
    width: 120px;
    padding: 6px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.8s ease;
}

.filme button:hover{
    background-color: #A91B1B;
}

.filme img:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(10, 9, 9, 0.651);
}

footer{
    background-color: #620606;
    color: white;
}

.container-footer{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 8rem;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footer-info h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    color: white; 
}

.footer-info p{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
}

footer .comece-agora{
    border: 3px solid #D51A1A;
    border-radius: 4px;
    margin-top: 12px;
    width: 40%;
    padding: 10px 12px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.8s ease;
}   

footer .comece-agora:hover{
    background-color: #D51A1A;
}

.footer-bottom{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
    font-size: 14px;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px){
    .hamburguer{
        display: block;
        z-index: 99;
    }

    .nav{
        padding: 0;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 98;
        width: 100vw;
        height: 100vh;
        background-color: #A91B1B;
        clip-path: circle(0 at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;
    } 

    .nav-active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav-active .nav-list a{
        opacity: 1;
    }

    .nav-active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav-active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav-active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    header img{
    width: 52px;
    }

    header h1{
        font-size: 36px;
    }

    .container-footer{
    padding: 2rem 1.5rem;
    }

    .footer-info h1{
    font-size: 38px;
    }

    .footer-info p{
    width: 400px;
    }
}