*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
}


main{
    background-image: url('../assets/fundo-site.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #A91B1B;
    color: white;
    padding-inline: 16px;
    padding-block: 8px;
}

header .studioflix{
    display: flex;
    align-items: center;
    gap: 8px;
}

header img{
    width: 64px;
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
}

ul .link-hover .home{
    color: white;
    border-radius: 4px;
    margin-top: 1rem;
    text-align: center;
    max-width: 100px;
    padding: 6px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.8s ease;
}

ul .link-hover .home:hover{
    background-color: white;
    color: #D51A1A;
} 

.nav{
    max-width: 1280px;
    height: auto;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    align-items: center;
}

.logo img{
    max-width: 80px;
}

header i{
    font-size: 28px;
    cursor: pointer;
}

.central{
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    border: 3px solid #A91B1B;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #da14142d;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.central h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 42px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

form label{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
    text-align: left;
}

form input{
    border: 2px solid #A91B1B;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
    width: 450px;
}

form .inputs{
    display: flex;
    flex-direction: column;
}

form button{
    background-color: transparent;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 24px;
    border: 3px solid #A91B1B;
    border-radius: 5px;
    padding: 4px 30px;
    cursor: pointer;
    transition: all 0.8s ease;
    color: white;
    margin-top: 6px;
}

button:hover{
    background-color: #A91B1B;
}

form h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
    margin-top: 8px;
}

form h2 a{
    color: #D51A1A;
    text-decoration: underline;
}

footer{
    background-color: #620606;
    color: white;
}

.container-footer{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 8rem;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footer-info h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    color: white; 
}

.footer-info p{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
}


.footer-bottom{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
    font-size: 14px;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px){
    .nav{
    justify-content: space-around;
    padding-inline: 1rem;
    }

    .container-footer{
    padding: 2rem 1.5rem;
    }

    .footer-info h1{
    font-size: 38px;
    }

    .footer-info p{
    width: 400px;
    }

    .central{
    padding: 1.5rem 1rem;
    max-width: 400px;
    }

    .central h1{
    font-size: 32px;
    }

    form input{
    width: 320px;
    }
}