*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

header{
    background-color: #A91B1B;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 40px;
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

li{
    position: relative;
}

li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.45s;
}

li:hover::before{
    scale: 1;
}

header h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    color: white;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

header i{
   margin-right: 4px;
   font-size: 24px;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 4rem;
}

.filme{
    max-width: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.filme img{
    width: 900px;
    height: 450px;
    border-radius: 4px;
    object-fit: cover;
}

.filme .descricao-filme{
    display: flex;
    max-width: 900px;
    flex-direction: column;
}

.filme h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
}

.filme .genero{
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.filme p{
    font-family: "Montserrat", sans-serif;
}

form{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form input{
    border: 2px solid #A91B1B;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 120px;
}   

form button{
    background-color:#D51A1A;
    border: none;
    border-radius: 4px;
    padding: 6px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.8s ease;
    width: 200px;
}

button:hover{
    background-color: #A91B1B;
}

.comentario{
    background-color: black;
    color: white;
}

footer{
    background-color: #620606;
    color: white;
}

.container-footer{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 8rem;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footer-info h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    color: white; 
}

.footer-info p{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
}

footer .comece-agora{
    border: 3px solid #D51A1A;
    border-radius: 4px;
    margin-top: 12px;
    width: 40%;
    padding: 10px 12px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.8s ease;
}   

footer .comece-agora:hover{
    background-color: #D51A1A;
}

.footer-bottom{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
    font-size: 14px;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}