*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

main{
    background-image: url('../assets/fundo-site.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #A91B1B;
    color: white;
    padding-inline: 16px;
    padding-block: 8px;
}

header .studioflix{
    display: flex;
    align-items: center;
    gap: 8px;
}

header img{
    width: 64px;
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
}

ul .link-hover .login{
    border: 3px solid white;
    border-radius: 4px;
    margin-top: 1rem;
    text-align: center;
    max-width: 100px;
    padding: 6px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.8s ease;
}

ul .link-hover .login:hover{
    background-color: white;
    color: #D51A1A;
} 

.nav{
    max-width: 1280px;
    height: auto;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    align-items: center;
}

.logo img{
    max-width: 80px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 32px;
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}

.hamburguer::before, .hamburguer::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.central{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.central h1,h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.central h1{
    color: #D51A1A;
    font-size: 86px;
}

.central h2{
    color: white;
    font-size: 42px;
}

.central p{
    font-size: 18px;
}

.central p, a{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
}

a.saiba-mais{
    border: 3px solid #D51A1A;
    border-radius: 4px;
    margin-top: 1rem;
    width: 40%;
    padding: 10px 12px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.8s ease;
}

a.saiba-mais:hover{
    background-color: #D51A1A;
}

section{
    background: linear-gradient(150deg, #000000 40%, #A91B1B 100%);
    height: 100%;
    padding: 2rem 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    color: white;   
}

h1.title-oscar{
    margin-top: 1.5rem;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2rem;
}

.cards-row{ 
    display: flex;
    gap: 2rem;
}

.card{
    background-color: #da14142d;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    border: 2px solid white;
    border-radius: 1.5rem;  
    color: white;   
    padding: 2rem;  
    width: 350px;   
    transition: transform 0.7s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(241, 241, 241, 0.5);
}

.card h1{
    font-size: 28px;
}

.card p{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #e6e6e6;
    width: 300px;
}

.card-oscar{
    background-color: #da14142d;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    border: 2px solid white;
    border-radius: 1.5rem;  
    color: white;   
    width: 350px;   
    transition: transform 0.7s ease;
}

.card-oscar img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0; 
}

.card-oscar:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(241, 241, 241, 0.5);
}

.card-oscar h1{
    font-size: 28px;
}

.card-oscar p{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #e6e6e6;
    width: 300px;
    margin-bottom: 1.5rem;
}

section a.comece-agora{
    border: 3px solid #D51A1A;
    border-radius: 4px;
    margin-top: 3rem;
    width: 20%;
    padding: 10px 12px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.8s ease;
}   

section a.comece-agora:hover{
    background-color: #D51A1A;
}

footer{
    background-color: #620606;
    color: white;
}

.container-footer{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 8rem;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footer-info h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    color: white; 
}

.footer-info p{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
}

footer a.comece-agora{
    border: 3px solid #D51A1A;
    border-radius: 4px;
    margin-top: 12px;
    width: 40%;
    padding: 10px 12px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.8s ease;
}   

footer a.comece-agora:hover{
    background-color: #D51A1A;
}

.footer-bottom{
    font-family: "Montserrat", sans-serif;
    color: #e6e6e6;
    font-size: 14px;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px){
    .hamburguer{
        display: block;
        z-index: 99;
    }

    .nav{
        padding: 0;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 98;
        width: 100vw;
        height: 100vh;
        background-color: #A91B1B;
        clip-path: circle(0 at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;
    } 

    .nav-active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav-active .nav-list a{
        opacity: 1;
    }

    .nav-active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav-active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav-active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    header img{
    width: 52px;
    }

    header h1{
        font-size: 36px;
    }

    .central h1{
    color: #D51A1A;
    font-size: 72px;
    }

    .central h2{
        color: white;
        font-size: 32px;
    }

    .central p{
        font-size: 16px;
    }

    a.saiba-mais{
    font-size: 22px;
    }

    section h1{
    font-size: 36px;
    }

    .cards-row{ 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    }

    .card h1, h2{
    font-size: 36px;
    }

    section a.comece-agora{
    width: 50%;
    margin-top: 1.5rem;
    padding: 10px 12px;
    font-size: 24px;
    }   

    .container-footer{
    padding: 2rem 1.5rem;
    }

    .footer-info h1{
    font-size: 38px;
    }

    .footer-info p{
    width: 400px;
    }
}